<section ng-controller="listCtrl" ng-init="populateTypeMovie()">
	
	<section>
		<div class="loader" ng-show="loader"></div>
		<a class="back" ng-hide="panel==0" ng-click="backConfig(panel)"><i class="icon-circle-arrow-left icon-2x"></i></a>
		<div class="rt-filter-list rt-general"><i class="icon-filter fleft"></i>Recherche de films</div>
		<section class="panel panel-padding-2x center panel-overflow" ng-init="initSection0" ng-class="{center:panel==0,left:panel>0}">
			
			<form class="frm-filter">
				<p><label>Titre :</label><input type="text" class="text filter-title" placeholder="Titre du film" /></p>
				<input type="hidden" class="hf-filter-type-id" value="0" />
			</form>
			<p><label>Type de film :</label></a>
			<div class="btn-group" dropdown>

		      <button type="button" class="dropdown filter-type" dropdown-toggle ng-disabled="disabled">
		        Tous <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      	<li>
		      		<a href="" ng-click="selectFilter(0,'Tous')">Tous</a>
		      	</li>
		        <li ng-repeat="f in listFilter.$resources">
		          <a href ng-click="selectFilter(f.id,f.type)">{{f.type}}</a>
		        </li>
		      </ul>
		    </div>
		    <div class="frm-filter-search">
		    	<p class="text-center">
					<span class="btn-filter-tapped btn-filter-filter btn-filter-disabled"><a class="filter-btn btn-filter" ng-click="searchMovie(true,true)"><i class="icon-filter"></i>&nbsp;Rechercher</a></span>
					<span class="btn-filter-tapped"><a class="filter-btn btn-filter" ng-click="searchMovie(false,true)"><i class="icon-search"></i>&nbsp;Voir tout</a></span>
				</p>
		    </div>

		</section>
		<div class="rt-result-list rt-general"><i class="icon-film fleft"></i>Liste des films</div>
		<div class="pagination-content hide"><pagination boundary-links="true" 
          max-size="5"
          items-per-page="itemsPerPage"
          total-items="totalItems" 
          ng-model="currentPage" 
          ng-change="pageChanged()"></pagination></div>
		<section class="panel right panel-overflow panel-movie-list" ng-init="initSection1"  ng-class="{center:panel==1,right:panel<1,left:panel>1}">
			<section class="list-movies">
				<div class="row-list-movies" ng-click="expand($event)" id="{{m.id}}" ng-repeat="m in listMovies.$resources">
					<div class="color_movies_pret color_movie_pret_sm" ng-class="{color_movie_available:m.is_pret==0,color_movie_notavailable:m.is_pret==1}"></div>
					<span class="btn_edit_movie btn_edit_movie_sm"><a class="edit_movie" ng-click="editMovie(m)" ><i class="icon-search"></i>&nbsp;&nbsp;D&eacute;tail</a></span>
					<div class="movie_title movie_title_sm">{{m.title}}</div>
					<span class="movie_nb_disc_badge movie_nb_disc_badge_sm badge">{{m.nb_disc}}</span>
					<div class="movie_nbMovie movie_nbMovie_sm"><i class="movie_list_icon icon-caret-right"></i>N&ordm; film : <span class="cGrey">{{m.num_movie}}</span></div>
					<div class="movie_nbDisc movie_nbDisc_sm"><i class="movie_list_icon icon-caret-right"></i>N&ordm; disque : <span class="cGrey">{{m.nb_disc}}</span></div>
					<div class="movie_type movie_type_sm"><i class="movie_list_icon icon-caret-right"></i>Type : <span class="cGrey">{{m.type}}</span></div>
					<div class="movie_avis movie_avis_sm"><i class="movie_list_icon icon-caret-right"></i>Avis : <input type="hidden" class="avis-value" value="{{m.round_rate}}" />
						<div class="vote">
							<div class="vote_bar">
								<div class="vote_progress">
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</section>
		</section>	
		<div class="rt-movie-detail rt-general"><i class="icon-search fleft"></i>D&eacute;tail</div>	
		<section class="panel right panel-overflow panel-movie-detail"  ng-class="{center:panel==2,right_inactive:panel<2,right:panel<1}">
			<p>Titre  : {{movie.title}}</p>
			<div class="detail-movie-avis" id="{{m.id}}" ng-repeat="a in listAvis.$resources">
				{{a.name}} : {{a.rate}}
			</div>
		</section>
	</section>
</section>