<section ng-controller="listCtrl" ng-init="populateLists()">
	
	<section>
		<div class="loader" ng-show="loader"></div>
		<a class="back" ng-hide="panel==0" ng-click="backConfig(panel)"><i class="icon-circle-arrow-left icon-2x"></i></a>
		<div class="rt-filter-list rt-general"><i class="icon-filter fleft"></i>Recherche de films</div>
		<section class="panel panel-padding-2x center panel-overflow panel-movie-filter" >			
			<form class="frm-filter">
				<p><label>Titre :</label><input type="text" class="text filter-title" placeholder="Titre du film" /></p>
				<input type="hidden" class="hf-filter-type-id" value="0" />
			</form>
			<p><label>Type de film :</label></a>
			<div class="btn-group" dropdown>

		      <button type="button" class="dropdown filter-type" dropdown-toggle ng-disabled="disabled">
		        Tous <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      	<li>
		      		<a href="" ng-click="selectFilter(0,'Tous')">Tous</a>
		      	</li>
		        <li ng-repeat="f in listFilter.$resources">
		          <a href ng-click="selectFilter(f.id,f.type)">{{f.type}}</a>
		        </li>
		      </ul>
		    </div>
		    <div class="frm-filter-search">
		    	<p class="text-center">
					<span class="btn-filter-tapped btn-filter-filter btn-filter-disabled"><a class="filter-btn btn-filter" ng-click="searchMovie(true,true)"><i class="icon-filter"></i>&nbsp;Rechercher</a></span>
					<span class="btn-filter-tapped"><a class="filter-btn btn-filter" ng-click="searchMovie(false,true)"><i class="icon-search"></i>&nbsp;Voir tout</a></span>
				</p>
		    </div>

		</section>
		<div class="rt-result-list rt-general"><i class="icon-film fleft"></i>Liste des films</div>
		<div class="pagination-content"><pagination boundary-links="true" 
          max-size="5"
          items-per-page="itemsPerPage"
          total-items="totalItems" 
          ng-model="currentPage" 
          ng-change="pageChanged()"></pagination></div>
		<section class="panel right panel-overflow panel-movie-list" >
			<section class="list-movies">
				<div class="row-list-movies" ng-click="expand(m.id)" id="rlistmovie_{{m.id}}" ng-repeat="m in listMovies.$resources">
					<div class="color_movies_pret color_movie_pret_sm" ng-class="{color_movie_available:m.is_pret==0,color_movie_notavailable:m.is_pret==1}"></div>
					<span class="btn_edit_movie btn_edit_movie_sm"><a class="edit_movie" ng-click="editMovie(m)" ><i class="icon-search"></i>&nbsp;&nbsp;D&eacute;tail</a></span>
					<div class="movie_title movie_title_sm">{{m.title}}</div>
					<span class="movie_nb_disc_badge movie_nb_disc_badge_sm badge">{{m.nb_disc}}</span>
					<div class="movie_nbMovie movie_nbMovie_sm"><i class="movie_list_icon icon-caret-right"></i>N&ordm; film : <span class="cGrey">{{m.num_movie}}</span></div>
					<div class="movie_nbDisc movie_nbDisc_sm"><i class="movie_list_icon icon-caret-right"></i>N&ordm; disque : <span class="cGrey">{{m.nb_disc}}</span></div>
					<div class="movie_type movie_type_sm"><i class="movie_list_icon icon-caret-right"></i>Genre : <span class="cGrey">{{m.type}}</span></div>
					<div class="movie_avis movie_avis_sm"><i class="movie_list_icon icon-caret-right"></i>Avis : <input type="hidden" class="avis-value" value="{{m.round_rate}}" />
						<div class="vote">
							<div class="vote_bar">
								<div class="vote_progress">
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</section>
		</section>	
		<div class="rt-movie-detail rt-general"><i class="icon-search fleft"></i>D&eacute;tail</div>	
		<section class="panel right panel-overflow panel-movie-detail"  >
			<div class="detail-movie-content">
				<form class="frm-detail-movie">
					<p>
						<label>Titre : </label>
						<br/>	
						<input class="text field-movie-detail disable-detail field-title" type="text"  />
						<span class="detail-movie-edit edit-title"><a ng-click="edit('title')"><i class="icon-edit-sign icon-2x"></i></a></span>
						<span class="detail-movie-save save-title">							
							<span class="detail-movie-validate"><a ng-click="closeEdit('title',true)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
							<span class="detail-movie-cancel"><a ng-click="closeEdit('title',false)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
						</span>
					</p>
					<p>
						<label>Num&eacute;ro du film : </label>
						<br/>
						<input class="text field-movie-detail disable-detail field-num-movie" type="text"  />
						<span class="detail-movie-edit edit-num-movie"><a ng-click="edit('numMovie')"><i class="icon-edit-sign icon-2x"></i></a></span>
						<span class="detail-movie-save save-num-movie">							
							<span class="detail-movie-validate"><a ng-click="closeEdit('numMovie',true)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
							<span class="detail-movie-cancel"><a ng-click="closeEdit('numMovie',false)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
						</span>
					</p>
					<p>
						<label>Num&eacute;ro du disque : </label>
						<br/>
						<input class="text field-movie-detail disable-detail field-nb-disc" type="text"   />
						<span class="detail-movie-edit edit-nb-disc"><a ng-click="edit('nbDisc')"><i class="icon-edit-sign icon-2x"></i></a></span>
						<span class="detail-movie-save save-nb-disc">							
							<span class="detail-movie-validate"><a ng-click="closeEdit('nbDisc',true)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
							<span class="detail-movie-cancel"><a ng-click="closeEdit('nbDisc',false)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
						</span>
					</p>
					<p>
						<label>genre : </label>
						<br/>
						<input type="hidden" class="hf-filter-type-detail-id"  />
						<input type="hidden" class="hf-filter-type-detail-name"  />
						<div class="btn-group" dropdown>
					      	<button type="button" class="dropdown filter-type-detail disable-detail field-type" dropdown-toggle >
					        	
					      	</button>
					      	<ul class="dropdown-menu" role="menu">
						      	<li>
						      		<a href="" ng-click="changeType(0,'Tous')">Tous</a>
						      	</li>
						        <li ng-repeat="f in listFilter.$resources">
						          	<a href ng-click="changeType(f.id,f.type)">{{f.type}}</a>
						        </li>
					      	</ul>
		    			</div>
						<span class="detail-movie-edit edit-type"><a ng-click="edit('type')"><i class="icon-edit-sign icon-2x"></i></a></span>
						<span class="detail-movie-save save-type">							
							<span class="detail-movie-validate"><a ng-click="closeEdit('type',true)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
							<span class="detail-movie-cancel"><a ng-click="closeEdit('type',false)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
						</span>
					</p>
				</form>
				<p><label>Avis : </label></p>
				<div class="detail-movie-avis" id="{{m.id}}" ng-repeat="a in listAvis.$resources">
					<input type="hidden" class="movie-avis-rate" value="{{a.rate}}" />
					<i class="movie_list_icon icon-caret-right"></i><span class="avis-detail">{{a.name}} :</span>
					&nbsp;<span class="stars-value hide-elem" id="{{a.html_id}}"></span>
				</div>
				<br/><br/>
				<p>
					<label>Prêt : </label>
					<br/>
					<input type="hidden" class="hf-pret-old-detail-id"  />
					<input type="hidden" class="hf-pret-detail-id"  />
					<div class="btn-group" dropdown>
				      	<button type="button" class="dropdown pret-detail disable-detail field-pret" dropdown-toggle >
				        	
				      	</button>
				      	<ul class="dropdown-menu" role="menu">
					      	<li>
					      		<a href="" ng-click="changePret(0,'Aucun')">Aucun</a>
					      	</li>
					        <li ng-repeat="u in userList.$resources">
					          	<a href ng-click="changePret(u.id,u.fullname)">{{u.fullname}}</a>
					        </li>
				      	</ul>
	    			</div>
					<span class="detail-movie-edit edit-pret"><a ng-click="edit('pret')"><i class="icon-edit-sign icon-2x"></i></a></span>
					<span class="detail-movie-save save-pret">							
						<span class="detail-movie-validate"><a ng-click="closeEdit('pret',true)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
						<span class="detail-movie-cancel"><a ng-click="closeEdit('pret',false)"><i class="icon-remove-circle icon-2x icon-inherit"></i></a></span>
					</span>					
				</p>			
			</div>
		</section>
	</section>
</section>